.SideBar {
  user-select: none;
  color: #bdbebe !important;
  width: 170px;
  background-color: rgba(105, 107, 107, 0.74);
}
.txt {
  color: white;
  font: bold;
  font-size: 20px;
}
.Navb {
  position: absolute;
  left: 0px;
  top: 46px;
  width: 340px;
  display: flex;
  flex-direction: column;
}
.cardStyle {
  background-color: #333232;
  color: white;
  font: bold;
  font-size: 20px;
}

.border {
  border-right: 5px solid;
  color: black !important;
  height: 500px;
}
.flex {
  display: flex;
  border-right: 5px solid;

  height: 500px;
}

.box {
  background: #333232;
  text-align: center;
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #b5b7b8;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: #eaebea;
}
.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #eaebea;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover {
  background: white;
}
