.SideBar {
  user-select: none;
  color: #bdbebe !important;
  width: 170px;
  background-color: rgba(105, 107, 107, 0.74);
}
.txt {
  color: white;
  font: bold;
  font-size: 20px;
}
.Navb {
  position: absolute;
  left: 0px;
  top: 46px;
  width: 340px;
  display: flex;
  flex-direction: column;
}
.cardStyle {
  background-color: #333232;
  color: white;
  font: bold;
  font-size: 20px;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index:2;
  color:#ffffff;
  background-color:#3e4141;
  border-color:#3e4141;
}


.border {
  border-right: 5px solid;
  color: black !important;
  height: 500px;
}
.flex {
  display: flex;
  border-right: 5px solid;

  height: 634px;
}
.box2 {
  background: #3a3939;
  text-align: center;
}
.box2 h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font : bold
}
.box {
  background: #333232;
  text-align: center;
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #b5b7b8;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: #eaebea;
}
.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #eaebea;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover {
  background: white;
}

.bckgrnd{
  
  background-image: url("./img/BackGroundImage.png");
 display: flex;
 flex-direction: column;
 flex-grow: 1;

}
.messages{
    height:30px;
    width:100px;
    border:2px solid rgb(134, 133, 133);
    width:100px;
    margin-top:10px;
    margin-left:10px;
    background:white;

}
